@media screen and (max-width: 750px){

    body {
        display: flex;
        flex-direction: column;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        background-color: #e4002b;
    }

    header .market-icons {
        filter: invert(0);   
    }

    .main-container h1, p {
        margin-top: 10px;
        padding-top: 10px;
    }

    .main-container {
        display: block;
    }

    .main-container .textbox {
        margin-top: 7rem;
    }

    .main-container  .textbox p {
        width: 300px;
    }

    .main-container .product-image-box img {
        display: none;
    }

    .main-container::before {
        display: none;
    }

    .social-media-icons {
        position: absolute;
        top: 65%;
    }
    
}